.parent_ctn {
  flex: 1;
  background-image: url("../../images/lucid.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_ctn {
  height: 80%;
  min-width: 35%;
  background: rgba(245, 245, 245, 0.9);
  display: grid;
  grid-template-rows: 1fr 5fr;
  border-radius: 1rem;
  align-items: center;
}

.main_ctn > div,
form {
  height: 100%;
  width: 100%;
}

.main_top_ctn {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.back_btn {
  height: 40%;
  width: 20%;
  margin-left: 1rem;
}

.form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.text_field {
  width: 60%;
}

.upload_ctn {
  width: 55%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btm_ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_btn {
  min-height: 40%;
}
