.parent_ctn {
  height: 100%;
  width: 100%;
  flex: 1;
  background-image: url("../../images/lucid.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_ctn {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  image-rendering: optimizeQuality;
}

.text {
  font-size: 5vh;
  margin: 0;
  font-weight: bold;
  height: max-content;
  width: max-content;
  border-bottom: 0.8vh solid rgb(236, 177, 236);
  color: white;
}
