/* ==================
/  No Characters Page 
/  =================*/
.no_chars_parent_ctn {
  height: 100%;
  width: 100%;
  flex: 1;
  background-image: url("../../images/lucid.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_chars_main_ctn {
  min-height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #1b512d;
}

.no_chars_btn {
  width: 40%;
}

/* ==============
/  Dashboard Page 
/  =============*/
.parent_ctn {
  flex: 1;
  background-image: url("../../images/lucid.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "featured list" "featured graphs";
  align-items: center;
  justify-items: center;
}

/* ===============
/  Characters List 
/  ==============*/
.chars_list_ctn {
  grid-area: list;
  height: 37vh;
  width: 80%;
  background: rgba(245, 245, 245, 0.9);
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr 7fr;
  gap: 1rem;
  justify-self: start;
  position: relative;
  top: 4%;
  padding-bottom: 1rem;
}

.parent_ctn > div:nth-child(3) {
  grid-area: graphs;
  height: 37vh;
  width: 80%;
  background: rgba(245, 245, 245, 0.9);
  border-radius: 1rem;
  justify-self: start;
  position: relative;
  bottom: 4%;
}

.chars_list_add_btn {
  min-width: 30%;
  justify-self: end;
}

.char_cards_ctn {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.char_cards_ctn::-webkit-scrollbar {
  display: none;
}

.char_card {
  width: 80%;
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #fbc3bc;
  border-radius: 1rem;
}

.char_card:hover {
  background-color: red;
  cursor: pointer;
  opacity: 0.5;
}

/* ==================
/  Featured Character 
/  =================*/
.featured_ctn {
  display: grid;
  grid-template-rows: 22.5vh auto 1fr;
  grid-area: featured;
  /* min-height: 40vh; */
  max-height: 60vh;
  width: 70%;
  background: rgba(245, 245, 245, 0.9);
  border-radius: 1rem;
  position: relative;
  top: 7.2%;
  left: 6%;
  align-self: start;
}

.featured_top {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  align-items: center;
  border-bottom: thin dotted #fbc3bc;
  justify-items: center;
  position: relative;
}

.featured_image_ctn {
  height: 95%;
  width: 95%;
  position: relative;
  display: flex;
  justify-self: end;
}

.featured_image {
  height: 100%;
  width: 100%;
  position: absolute;
}

.featured_ign_class {
  max-height: 50%;
  width: max-content;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  overflow-wrap: break-word;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.featured_ign_class::-webkit-scrollbar {
  display: none;
}

.featured_ign {
  font-size: 1.3rem;
  margin: 0;
  font-weight: bold;
  width: max-content;
  border-bottom: 0.2rem solid #fbc3bc;
}

.featured_level_class {
  font-size: 1rem;
  margin: 0;
}

.featured_mid {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-left: 3rem;
}

.stats {
  margin-left: 0.3rem;
  border-bottom: 0.2rem solid #fbc3bc;
}

.featured_btm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-top: thin dotted #fbc3bc;
}

.featured_tracking {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ==============
/  Edit Character
/  =============*/
.edit_ctn {
  height: fit-content;
  display: grid;
  grid-template-rows: 40% 1.5fr 1fr;
  grid-area: featured;
  width: 70%;
  background: rgba(245, 245, 245, 0.9);
  border-radius: 1rem;
  position: relative;
  top: 7.2%;
  left: 6%;
  align-self: start;
}

.edit_top {
  display: grid;
  grid-template-columns: 45% 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  border-bottom: thin dotted #fbc3bc;
}

.edit_image_ctn {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit_ign_class {
  height: 100%;
  max-width: 90%;
  width: max-content;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.edit_ign_class::-webkit-scrollbar {
  display: none;
}

.edit_mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-left: 1rem;
  border-bottom: thin dotted #fbc3bc;
  gap: 1rem;
}

.stats {
  margin-left: 0.3rem;
  border-bottom: 0.2rem solid #fbc3bc;
}

.edit_btm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.edit_delete_ctn {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}

.delete_confirm_btn {
  height: 60%;
}

.text_field {
  width: 100%;
}

.stats_text_field {
  width: 70%;
}

.upload_ctn {
  width: 55%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.edit_btm {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.alert {
  position: absolute;
  top: -9%;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ======
/  Charts
/  =====*/
.charts_ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.charts_ctn > p {
  font-size: 1.5rem;
}
