/* ==================
/  No Characters Page 
/  =================*/
.no_chars_parent_ctn {
  height: 100%;
  width: 100%;
  flex: 1;
  background-image: url("../../images/lucid.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_chars_main_ctn {
  min-height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #1b512d;
}

.no_chars_btn {
  width: 40%;
}

/* ==============
/  Dashboard Page 
/  =============*/
.parent_ctn {
  flex: 1;
  background-image: url("../../images/lucid.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "featured list" "featured graphs";
  align-items: center;
  justify-items: center;
}

.parent_ctn > div:nth-child(1) {
  grid-area: featured;
  height: 80vh;
  width: 70%;
  background: rgba(245, 245, 245, 0.9);
  border-radius: 1rem;
  position: relative;
  left: 6%;
}

/* ===============
/  Characters List 
/  ==============*/
.chars_list_ctn {
  grid-area: list;
  height: 37vh;
  width: 80%;
  background: rgba(245, 245, 245, 0.9);
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr 7fr;
  gap: 1rem;
  justify-self: start;
  position: relative;
  top: 4%;
}

.parent_ctn > div:nth-child(3) {
  grid-area: graphs;
  height: 37vh;
  width: 80%;
  background: rgba(245, 245, 245, 0.9);
  border-radius: 1rem;
  justify-self: start;
  position: relative;
  bottom: 4%;
}

.chars_list_add_btn {
  min-width: 30%;
  justify-self: end;
}

.char_cards_ctn {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.char_cards_ctn::-webkit-scrollbar {
  display: none;
}

.char_card {
  width: 80%;
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #fbc3bc;
  border-radius: 1rem;
}

.char_card:hover {
  background-color: red;
  cursor: pointer;
  opacity: 0.5;
}

/* ==================
/  Featured Character 
/  =================*/
.featured_ctn {
  display: grid;
  grid-template-rows: 1.3fr 0.7fr 1fr;
}

.featured_top {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.featured_image_ctn {
  border: 1px solid black;
  height: 80%;
  width: 40%;
}

.featured_ign_class {
  border: 1px solid black;
  height: 50%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.featured_mid {
  display: flex;
  flex-direction: column;
  border-top: thin dotted #fbc3bc;
  border-bottom: thin dotted #fbc3bc;
  padding: 1em;
}
