.parent_ctn {
  flex: 1;
  background-image: url("../../images/lucid.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.dailies_ctn {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  height: 50%;
  width: 20%;
  padding: 1rem;
}

.dailies_options {
  border: 1px solid red;
  padding: 1rem;
}

.weeklies_ctn {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  height: 50%;
  width: 20%;
  padding: 1rem;
}

.weeklies_options {
  border: 1px solid red;
  padding: 1rem;
}

.right_ctn {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 1rem;
}

.featured_ctn {
  display: flex;
  border: 1px solid black;
}

.ign_class {
  display: flex;
  flex-direction: column;
}

.char_cards_ctn {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.char_cards_ctn::-webkit-scrollbar {
  display: none;
}

.char_card {
  width: 80%;
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #fbc3bc;
  border-radius: 1rem;
}

.char_card:hover {
  background-color: red;
  cursor: pointer;
  opacity: 0.5;
}
