.parent_ctn {
  min-height: 93%;
  background-image: url("../../images/lucid.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.timer_ctn {
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10;
  left: 0;
}

.bossing_ctn {
  width: 75%;
  position: relative;
  top: 7.5%;
  border-radius: 1rem;
}

/* =============
/  Top Container
/  ============*/
.top_ctn {
  height: 20vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.top_ctn > :nth-child(1) {
  border-right: solid #fbc3bc;
}

.top_ctn > :nth-child(2) {
  border-right: solid #fbc3bc;
}

.top_ctn > :nth-child(3) {
  border-right: solid #fbc3bc;
}

.character_ctn {
  background-color: rgba(245, 245, 245, 0.8);
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  align-items: center;
  border-bottom: dotted #fbc3bc;
  justify-items: center;
  position: relative;
}

.character_image_ctn {
  height: 95%;
  width: 95%;
  position: relative;
  display: flex;
  justify-self: end;
}

.character_image {
  height: 100%;
  width: 100%;
  position: absolute;
}

.character_ign_class {
  max-height: 100%;
  width: max-content;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.character_ign_class::-webkit-scrollbar {
  display: none;
}

.character_ign {
  font-size: 1.3rem;
  margin: 0;
  font-weight: bold;
  width: max-content;
  border-bottom: 0.2rem solid #fbc3bc;
}

.character_level_class {
  font-size: 1rem;
  margin: 0;
}

/* ==============
/  Edit Container
/  =============*/
.edit_ctn {
  height: 100%;
  position: relative;
  border-bottom: dotted #fbc3bc;
  background-color: rgba(245, 245, 245, 0.8);
  /* display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  align-items: center; 
 justify-items: center; */
}

/* ==============
/  Main Container
/  =============*/
.main_ctn {
  height: max-content;
}

.boss_card_ctn {
  display: flex;
  gap: 2rem;
}

.main_right_ctn {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.main_right_ctn > :nth-child(1) {
  border-right: solid #fbc3bc;
}

.main_right_ctn > :nth-child(2) {
  border-right: solid #fbc3bc;
}

.main_right_ctn > :nth-child(3) {
  border-right: solid #fbc3bc;
}

.checkbox_ctn {
  width: 100%;
  height: max-content;
  background-color: rgba(245, 245, 245, 0.8);
}

/* =============
/  Btm Container
/  ============*/
.btm_ctn {
  border: 1px solid green;
  height: 10vh;
}
